.logo {
    width: 170px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}