.calendar-icon {
    width: 16px;
    pointer-events: none;
}

.events li {
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}

.event-list-section {
    background: #f1f1f1;
    padding: 10px;
    height: 100%;
    overflow: auto;
}

.event-list-title {
    text-align: center;
}