.calendar-container {
    width: 100%;
    height: 100vh;
    background: #00739d;
}

.date-row {
    height: 10%;
    width: 100%;
    background: #003c52;
}

.date-row-col {
    height: 100%;
    display: table;
    overflow: hidden;
}

.date-row-col-today {
    height: 100%;
    display: table;
    overflow: hidden;
    background: #4C7685;
}

.date-row-col-weekend {
    height: 100%;
    display: table;
    overflow: hidden;
    background: #99b1b9;
}

.date-row h1 {
    color: #ffffff;
    text-align: center;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.event-row {
    height: 40%;
    width: 100%;
}

.event-row-col {
    border-left: #003c52 solid thin;
    border-right: #003c52 solid thin;
    padding-bottom: 10px;
}

.event-row-col-today {
    background: #4c9dba;
}

.event-row-col-weekend {
    background: #81d2dc;
}

.calendar-slide-events {
    align-content: center;
    overflow: hidden;
    margin: auto;
    height: 100%;
}

.calendar-slide-events ul {
    width: 80%;
    margin: auto;
    list-style: none;
    padding-left: 0;
}

.calendar-slide-events li {
    list-style-type: none;
    border-radius: 10px;
    background: #CCCCCC;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.general-event {
    background: #6dcce7 !important;
}

.anniversary-event {
    background: #14b14b !important;
}

.birthday-event {
    background: #14b14b !important;
}

.meeting-event {
    background: #f5861f !important;
}